
body {
    font-family: Arial, sans-serif;
    line-height: 1.4em;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

header {
    background-color: #333;
    color: pink;
    padding: 2rem;
    text-align: center;
}

nav{
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    flex-wrap: wrap;

}

nav ul li{

    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 1rem;

}

nav ul li a{
    color: pink;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px ;
    border: 2px solid pink;
    border-radius: 10px;
}
nav ul li a {
    display: block;
    padding: 10px 15px;
    transition: transform 0.3s;
}
nav ul li a:hover{
    animation: textColorChange 4s infinite;
    transform: scale(1.1);

}
@keyframes textColorChange {
    0% { color:rgb(255, 117, 218) ; }
    33% { color: #d520ae; }
    66% { color: rgb(232, 61, 255); }
    100% { color: rgb(160, 30, 235); }
}
main {
    padding: 2rem;
}
h1{
    text-align: center;
    color: pink;
    margin-bottom: 30px;
}
h2 {
    margin-bottom: 1rem;
    color: pink;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    background-color: Pink;
    color:#333;
    padding: 1rem;
    text-align: center;
}